<phpunit bootstrap="bootstrap.php" colors="true">
    
    <testsuite name="Application">
        <directory>./library</directory>
        <directory>./application</directory>
    </testsuite>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../application</directory>
            <directory suffix=".php">../library</directory>
            <exclude>
                <directory suffix=".phtml">../application</directory>
                <file>../application/bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
    
</phpunit>
